@import "../style/layers.css";
@import "../style/Radius.module.css";
@import "../style/Shadow.module.css";
@import "../style/Space.module.css";
@import "../style/Stroke.module.css";
@import "../style/Tint.module.css";

@layer components {
	.panel {
		/* Box */
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: calc(100% + var(--popover-offset-y, var(--space-xsmall)));
		z-index: 1000;
		max-height: var(--popover-height, 30vh);
		border-radius: var(--popover-radius, var(--radius-xsmall));
		border: var(--popover-border, var(--popover-stroke, var(--stroke-normal)) solid var(--tint-80));
		padding: var(--popover-padding, var(--space-small));

		/* Scrolling */
		overflow-x: hidden;
		overflow-y: auto;
		overscroll-behavior-x: auto;
		overscroll-behavior-y: contain;

		/* Style */
		background: var(--popover-background, var(--tint-100));
		box-shadow: var(--popover-shadow, var(--shadow-small));
	}
}

@layer overrides {
	.wrap {
		position: relative;

		/* Children */
		&& > * {
			margin: 0;
		}
	}
}
