# Always ignored folders.
/node_modules/
/dist/
/coverage/

# Ignore all files except specific types.
/**/*.*
!/**/*.md
!/**/*.ts
!/**/*.tsx
!/**/*.js
!/**/*.jsx
!/**/*.json
!/**/*.jsonc
!/**/*.yml
!/**/*.yaml
!/**/*.css
!/**/*.scss
!/**/*.html

# Always ignore lock files.
package-lock.json