@import "../style/base.css";

@layer components {
	.code,
	.prose :is(code, kbd, samp, var) {
		/* Typography */
		font-family: var(--font-code);
		font-size: var(--size-smaller);
		line-height: var(--leading);
		font-weight: inherit;
	}

	.code,
	.prose :is(code, kbd, samp, var):not(pre *) {
		/* Box */
		display: inline-block;
		padding-inline: 0.375rem;

		/* Style */
		background-color: var(--color-surface);
		border-radius: var(--radius-xxsmall);
		color: var(--color-text);
	}
}
