.code,
.prose :is(code, kbd, samp, var):not(pre *) {
	/* Box */
	display: inline-block;
	padding-inline: 0.375rem;

	/* Style */
	border-radius: var(--radius-xxsmall);
	color: var(--color-text);
	background-color: color-mix(in srgb, var(--color-surface) 92%, black);

	/* Typography */
	font-weight: inherit;
	font-size: var(--size-smaller);
}
