@import url("../style/layers.css");
@import url("../style/Radius.module.css");
@import url("../style/Space.module.css");
@import url("../style/Tint.module.css");
@import url("../style/Typography.module.css");

@layer components {
	.code,
	.prose :is(code, kbd, samp, var) {
		/* Text */
		font-family: var(--code-font, var(--font-code));
		font-weight: var(--code-weight, var(--weight-code));
		font-size: var(--code-size, var(--size-smaller));
		line-height: var(--code-leading, var(--leading));
		text-transform: none;
	}

	.code:not(.plain),
	.prose :is(code, kbd, samp, var):not(pre *) {
		/* Box */
		display: inline-block;
		padding-inline: var(--code-padding, var(--space-xxsmall));
		border-radius: var(--code-radius, var(--radius-xxsmall));
		vertical-align: baseline;

		/* Style */
		background: var(--code-background, var(--tint-90));
		color: var(--code-color, var(--tint-00));
	}
}
