@import "../style/layers.css";
@import "../style/Color.module.css";
@import "../style/Stroke.module.css";
@import "../style/Typography.module.css";

@layer components {
	.deleted,
	.prose del {
		--tint-50: var(--deleted-tint, var(--color-red));

		/* Style */
		color: var(--deleted-color, var(--tint-50));
		text-decoration: var(--deleted-decoration, line-through var(--stroke-normal));

		/* Text */
		font-weight: var(--deleted-weight, var(--weight-strong));
	}
}
