@import url("../style/layers.css");
@import url("../style/Color.module.css");
@import url("../style/Stroke.module.css");
@import url("../style/Typography.module.css");

@layer components {
	.deleted,
	.prose del {
		/* Style */
		color: var(--deleted-color, var(--color-red));
		text-decoration: var(--deleted-decoration, line-through var(--stroke-normal));

		/* Text */
		font-weight: var(--deleted-weight, var(--weight-strong));
	}
}
