@import "../style/layers.css";
@import "../style/Color.module.css";
@import "../style/Stroke.module.css";
@import "../style/Typography.module.css";

@layer components {
	.inserted,
	.prose ins {
		--tint-50: var(--inserted-tint, var(--color-green));

		/* Style */
		color: var(--inserted-color, var(--tint-50));
		text-decoration: var(--inserted-decoration, underline var(--stroke-normal));

		/* Text */
		font-weight: var(--inserted-weight, var(--weight-strong));
	}
}
