@import "../style/base.css";

@layer components {
	.inserted,
	.prose ins {
		/* Style */
		color: var(--vivid-green);
		text-decoration: underline var(--stroke-normal);

		/* Typography */
		font-weight: var(--weight-strong);
	}
}
