@import "../style/layers.css";
@import "../style/Color.module.css";
@import "../style/Stroke.module.css";
@import "../style/Weight.module.css";

@layer components {
	.inserted,
	.prose ins {
		/* Style */
		color: var(--color-green);
		text-decoration: underline var(--stroke-normal);

		/* Text */
		font-weight: var(--weight-strong);
	}
}
