@import "../style/layers.css";
@import "../style/Color.module.css";
@import "../style/Stroke.module.css";
@import "../style/Typography.module.css";

@layer components {
	.link,
	.prose a {
		--tint-50: var(--link-tint, var(--color-link));

		/* Style */
		color: var(--link-color, var(--tint-50));
		text-decoration: none;
		cursor: inherit;

		/* Text */
		font-weight: var(--link-weight, var(--weight-strong));

		&:any-link {
			cursor: pointer;
			text-decoration: underline var(--stroke-normal);

			&:hover {
				text-decoration: none;
			}
		}
	}
}
