@import "../style/layers.css";
@import "../style/Color.module.css";
@import "../style/Radius.module.css";
@import "../style/Typography.module.css";
@import "../style/Tint.module.css";

@layer components {
	.mark,
	.prose mark {
		/* Box */
		display: inline-block;
		padding-inline: var(--mark-padding, var(--space-xxsmall));
		border-radius: var(--mark-radius, var(--radius-xxsmall));
		vertical-align: text-bottom;

		/* Style */
		background-color: var(--mark-background, color-mix(in oklch, var(--mark-tint, var(--color-yellow)), transparent));
		color: var(--mark-color, var(--tint-00));

		/* Text */
		font-weight: var(--mark-weight, var(--weight-strong));
	}
}
