@import "../style/layers.css";
@import "../style/Radius.module.css";
@import "../style/Typography.module.css";

@layer components {
	.mark,
	.prose mark {
		display: inline-block;
		padding-inline: var(--mark-padding, 0.375em);
		border-radius: var(--mark-radius, var(--radius-xxsmall));
		background-color: var(--mark-color-bg, var(--light-yellow));
		color: var(--mark-color-text, var(--dark-yellow));
		font-weight: var(--mark-weight, var(--weight-strong));
	}
}
