@import "../style/layers.css";
@import "../style/Typography.module.css";

@layer components {
	.small,
	.prose small {
		font-weight: inherit;
		font-size: inherit;
		color: var(--small-color, var(--tint-70));
	}
}
