@import "../style/base.css";

@layer components {
	.small,
	.prose small {
		/* Style */
		color: var(--color-dark);

		/* Typography */
		font-weight: var(--weight-normal);
		font-size: inherit;
	}
}
