@import url("../style/layers.css");
@import url("../style/Typography.module.css");

@layer components {
	.small,
	.prose small {
		font-weight: inherit;
		font-size: inherit;
		color: var(--small-color, var(--tint-70));
	}
}
