@import "../style/layers.css";
@import "../style/Duration.module.css";
@import "../style/Radius.module.css";
@import "../style/Shadow.module.css";
@import "../style/Space.module.css";
@import "../style/Stroke.module.css";
@import "../style/Tint.module.css";
@import "../style/Width.module.css";

@layer components {
	.modal {
		/* Box */
		margin: auto;
		width: var(--modal-width, var(--width-narrow));
		max-width: 100%;
		border: var(--modal-border, var(--stroke-normal) solid color-mix(in oklch, var(--tint-50) 50%, transparent));
		border-radius: var(--modal-radius, var(--radius-normal));
		background: var(--modal-color-bg, var(--tint-100));
		padding: var(--modal-padding, var(--space-normal));

		/* Style */
		color: var(--modal-color-text, var(--tint-00));
		transition: var(--modal-transition, all var(--duration-fast));
		box-shadow: var(--modal-shadow, var(--shadow-normal));
	}
}
