@import "layers.css";
@import "Typography.module.css";
@import "Space.module.css";

@layer defaults {
	.flex {
		/* Contents */
		flex-direction: row;
		gap: var(--flex-gap, var(--space-small));
		justify-content: stretch;
		align-items: center;

		/* Children */
		> [data-slot="icon"] {
			font-size: var(--size-icon);
			inline-size: 1em;
			block-size: 1em;
			flex: none;
		}

		&.column {
			justify-content: center;
			align-items: stretch;
		}
	}
}

@layer variants {
	.flex {
		/* Box */
		display: flex;

		/* Variants */
		&.wrap {
			flex-wrap: wrap;
		}
		&.nowrap {
			flex-wrap: nowrap;
		}
		&.between {
			justify-content: space-between;
		}
		&.around {
			justify-content: space-around;
		}
		&:not(.column) {
			&.reverse {
				flex-direction: row-reverse;
			}
			&.left {
				justify-content: start;
			}
			&.center {
				justify-content: center;
			}
			&.right {
				justify-content: end;
			}
			&.stretch {
				justify-content: stretch;
			}
			&.top {
				align-items: start;
			}
			&.middle {
				align-items: center;
			}
			&.bottom {
				align-items: end;
			}
			&.baseline {
				align-items: baseline;
			}
		}
		&.column {
			flex-direction: column;

			&.reverse {
				flex-direction: column-reverse;
			}
			&.top {
				justify-content: start;
			}
			&.middle {
				justify-content: center;
			}
			&.bottom {
				justify-content: end;
			}
			&.left {
				align-items: start;
			}
			&.center {
				align-items: center;
			}
			&.right {
				align-items: end;
			}
		}

		/* Children */
		> * {
			margin: 0;
		}
	}
}
