@import "layers.css";

@layer defaults {
	:root {
		/* Radii — corner rounding. */
		--radius-xxsmall: calc(var(--radius-normal) * 0.25); /* 4px */
		--radius-xsmall: calc(var(--radius-normal) * 0.5); /* 8px */
		--radius-small: calc(var(--radius-normal) * 0.75); /* 12px */
		--radius-normal: 1rem; /* 16px */
		--radius-large: calc(var(--radius-normal) * 1.5); /* 24px */
		--radius-xlarge: calc(var(--radius-normal) * 2); /* 32px */
		--radius-xxlarge: calc(var(--radius-normal) * 3); /* 48px */
	}
}

@layer variants {
	/* Corner-radius variants. */
	.radius-none {
		border-radius: 0;
	}
	.radius-xxsmall {
		border-radius: var(--radius-xxsmall);
	}
	.radius-xsmall {
		border-radius: var(--radius-xsmall);
	}
	.radius-small {
		border-radius: var(--radius-small);
	}
	.radius-normal {
		border-radius: var(--radius-normal);
	}
	.radius-large {
		border-radius: var(--radius-large);
	}
	.radius-xlarge {
		border-radius: var(--radius-xlarge);
	}
	.radius-xxlarge {
		border-radius: var(--radius-xxlarge);
	}
}
