@import url("layers.css");

@layer defaults {
	:root {
		/* Colors */
		--shadow-color: #0006;

		/* Shadows — elevation drop-shadows. */
		--shadow-small: 0 0.375rem 1.5rem -0.75rem var(--shadow-color);
		--shadow-normal: 0 0.5rem 2rem -1rem var(--shadow-color);
		--shadow-large: 0 0.75rem 3rem -1.5rem var(--shadow-color);
	}
}

@layer variants {
	/* Drop-shadow variants. */
	.shadow-none {
		box-shadow: none;
	}

	.shadow-small {
		box-shadow: var(--shadow-small);
	}

	.shadow-normal {
		box-shadow: var(--shadow-normal);
	}

	.shadow-large {
		box-shadow: var(--shadow-large);
	}
}
