@import "base.css";

@layer defaults {
	:root {
		/** Set a default thickness for all components that use the `--thickness` variable, which can be overridden by the `.thickness-{weight}` utility classes in this module. */
		--thickness: var(--stroke-normal);
	}
}

@layer variants {
	.thickness-none {
		--thickness: 0;
	}
	.thickness-hairline {
		--thickness: var(--stroke-hairline);
	}
	.thickness-xxthin {
		--thickness: var(--stroke-xxthin);
	}
	.thickness-xthin {
		--thickness: var(--stroke-xthin);
	}
	.thickness-thin {
		--thickness: var(--stroke-thin);
	}
	.thickness-normal {
		--thickness: var(--stroke-normal);
	}
	.thickness-thick {
		--thickness: var(--stroke-thick);
	}
	.thickness-xthick {
		--thickness: var(--stroke-xthick);
	}
	.thickness-xxthick {
		--thickness: var(--stroke-xxthick);
	}
}
