@import "../style/base.css";

@layer components {
	.body {
		font-family: var(--font-body);
	}

	.monospace {
		font-family: var(--font-monospace);
	}

	.sans {
		font-family: var(--font-sans);
	}

	.serif {
		font-family: var(--font-serif);
	}

	.code {
		font-family: var(--font-code);
	}

	.xxsmall {
		font-size: var(--size-xxsmall);
		line-height: Var(--leading);
	}

	.xsmall {
		font-size: var(--size-xsmall);
		line-height: Var(--leading);
	}

	.small {
		font-size: var(--size-small);
		line-height: Var(--leading);
	}

	.normal {
		font-size: var(--size-normal);
		line-height: Var(--leading);
	}

	.large {
		font-size: var(--size-large);
		line-height: Var(--leading);
	}

	.xlarge {
		font-size: var(--size-xlarge);
		line-height: Var(--leading);
	}

	.xxlarge {
		font-size: var(--size-xxlarge);
		line-height: Var(--leading);
	}
}
