@import url("../style/layers.css");
@import url("../style/Typography.module.css");
@import url("../style/Space.module.css");
@import url("../style/Tint.module.css");

@layer components {
	.field {
		/* Box. */
		margin-block: var(--field-space, var(--space-paragraph));

		/* Contents */
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: stretch;
		text-align: left;
		gap: var(--field-gap, var(--space-xsmall));

		/* Children */
		.title {
			font-size: var(--field-title-size, var(--size-normal));
			line-height: var(--field-title-leading, var(--leading));
			font-weight: var(--field-title-weight, var(--weight-strong));
			color: var(--field-title-color, var(--tint-00));
		}

		.description {
			font-size: var(--field-description-size, var(--size-normal));
			line-height: var(--field-description-leading, var(--leading));
			font-weight: var(--field-description-weight, var(--weight-normal));
			color: var(--field-description-color, var(--tint-70));
		}

		&& > * {
			margin: 0;
		}
	}
}
