@import "../style/layers.css";
@import "../style/Indent.module.css";
@import "../style/Space.module.css";

@layer components {
	.form {
		display: block;
		margin-inline: 0;
		margin-block: var(--form-space, var(--space-paragraph));

		& > * + * {
			margin: 0;
		}
	}

	.fieldset {
		margin: 0;
		padding: 0;
		border: 0;

		/* Chrome sets a default min-inline-size that we override. */
		min-inline-size: none;
	}
}

@layer overrides {
	.form {
		&:first-child {
			margin-block-start: 0;
		}
		&:last-child {
			margin-block-end: 0;
		}
	}
}
