@import "../style/base.css";

@layer components {
	.wrap {
		position: relative;

		/* Children */
		&& > * {
			margin: 0;
		}
	}

	.panel {
		/* Box */
		display: flow-root; /* Clearfix equivalent */
		position: absolute;
		left: 0;
		right: 0;
		top: calc(100% + var(--popover-offset-y, var(--space-xsmall)));
		z-index: 1000;
		max-height: var(--popover-max-height, 30vh);
		border-radius: var(--popover-radius, var(--radius-xsmall));
		border: var(--popover-border, var(--stroke-normal) solid var(--color-vivid));
		padding: var(--popover-padding, var(--space-small));

		/* Scrolling */
		overflow-x: hidden;
		overflow-y: auto;
		overscroll-behavior-x: auto;
		overscroll-behavior-y: contain;

		/* Style */
		background: var(--popover-color-bg, var(--color-white));
		box-shadow: var(--popover-shadow, var(--shadow-small));
	}
}
