.progress {
	display: grid;
	grid-template-columns: repeat(var(--steps), minmax(0, 1fr));
	gap: var(--progress-gap, 0.375rem);
}

.item {
	height: var(--progress-height, 0.375rem);
	border-radius: var(--progress-radius, 999px);
	background: var(--progress-color-bg, var(--gray-20));
}

.active {
	background: var(--progress-color-active, var(--primary-text));
}

.progress.primary .active {
	background: var(--progress-primary-color-active, var(--progress-color-active, var(--primary-text)));
}

.progress.success .active {
	background: var(--progress-success-color-active, var(--success-text));
}

.progress.warning .active {
	background: var(--progress-warning-color-active, var(--warning-text));
}

.progress.danger .active {
	background: var(--progress-danger-color-active, var(--danger-text));
}
