@import "../style/layers.css";
@import "../style/Typography.module.css";
@import "../style/Tint.module.css";

@layer defaults {
	.icon {
		/* Box */
		display: block;
		width: 1em;
		height: 1em;
		margin-inline: auto;
		margin-block: 0;
		padding: 0;

		/* Style */
		color: var(--icon-color, var(--tint-50));

		/* Contents */
		flex: none;

		/* Text */
		font-size: var(--icon-size, var(--size-icon));
	}
}
