@import "../style/layers.css";
@import "../style/Typography.module.css";
@import "../style/Color.module.css";
@import "../style/Status.module.css";

@layer defaults {
	.icon {
		width: var(--icon-size, 1lh);
		height: var(--icon-size, 1lh);
		color: var(--icon-color, var(--tint-50));
	}
}

@layer overrides {
	.icon {
		flex: none;
	}
}
