@import "../style/layers.css";
@import "../style/Typography.module.css";
@import "../style/Tint.module.css";

@layer defaults {
	.icon {
		font-size: var(--icon-size, var(--size-icon));
		width: 1em;
		height: 1em;
		color: var(--icon-color, var(--tint-50));
		flex: none;
	}
}
