@import "../style/layers.css";
@import "../style/Tint.module.css";
@import "../style/Weight.module.css";

@layer components {
	.message {
		/* Theme */
		--tint-50: var(--notice-tint, inherit);

		/* Text */
		text-align: var(--message-align, center);
		font-weight: var(--message-weight, var(--weight-strong));

		/* Style */
		color: var(--message-color, var(--tint-50));
	}
}
