@import url("../style/layers.css");
@import url("../style/Tint.module.css");
@import url("../style/Typography.module.css");
@import url("../style/Space.module.css");

@layer components {
	.message {
		/* Box */
		margin-block: var(--message-space, var(--space-paragraph));

		/* Text */
		text-align: var(--message-align, center);
		font-weight: var(--message-weight, var(--weight-strong));

		/* Style */
		color: var(--message-color, var(--tint-50));
	}
}
