@import "../style/layers.css";
@import "../style/Radius.module.css";
@import "../style/Space.module.css";
@import "../style/Tint.module.css";
@import "../style/Typography.module.css";

@layer components {
	.notice {
		/* Box */
		margin-block: var(--notice-space, var(--space-paragraph));
		border-radius: var(--notice-radius, var(--radius-xsmall));
		border: var(--notice-border, var(--notice-stroke, var(--stroke-normal)) solid var(--tint-80));
		padding: var(--notice-padding, var(--space-small));

		/* Style */
		background: var(--notice-background, var(--tint-90));
		color: var(--notice-color, var(--tint-50));

		/* Text */
		font-size: var(--notice-size, var(--size-normal));
		font-weight: var(--notice-weight, var(--weight-strong));
		text-align: start;
	}
}
