@import url("../style/layers.css");
@import url("../style/Space.module.css");
@import url("../style/Width.module.css");

@layer components {
	.notices {
		position: fixed;
		bottom: var(--notices-offset, var(--space-normal));
		right: var(--notices-offset, var(--space-normal));
		z-index: 1000;
		display: flex;
		max-width: var(--notices-width, var(--width-narrow));
		flex-direction: column;
		gap: var(--notices-gap, var(--space-small));
	}
}
