@import "../variant/layers.css";

@layer components {
	.address,
	.prose address {
		/* Box */
		display: block;
		margin-inline: 0;
		margin-block: var(--address-spacing, var(--space-normal));

		/* Contents */
		white-space: pre-line;
		font-style: normal;
		text-align: left;

		/* Styles */
		&:first-child {
			margin-block-start: 0;
		}
		&:last-child {
			margin-block-end: 0;
		}
	}
}
