@import "../style/layers.css";
@import "../style/Color.module.css";
@import "../style/Indent.module.css";
@import "../style/Space.module.css";
@import "../style/Typography.module.css";
@import "../style/Width.module.css";

@layer components {
	.block {
		/* Box */
		position: relative;
		display: block;
		margin-inline: auto;
		margin-block: 0;
	}
}

@layer overrides {
	.block {
		&:first-child {
			margin-block-start: 0;
		}
		&:last-child {
			margin-block-end: 0;
		}
	}
}
