@import "../style/layers.css";
@import "../style/Space.module.css";
@import "../style/Stroke.module.css";
@import "../style/Tint.module.css";
@import "../style/Typography.module.css";

@layer components {
	.blockquote,
	.prose blockquote {
		/* Box */
		margin-block: var(--blockquote-space, var(--space-paragraph));
		border-inline-start: var(--blockquote-border, var(--blockquote-stroke, var(--stroke-normal)) solid var(--tint-80));
		padding-block: var(--blockquote-padding, var(--space-small));
		padding-inline-start: var(--blockquote-indent, var(--space-normal));

		/* Text */
		font-weight: var(--blockquote-weight, var(--weight-normal));
		font-size: var(--blockquote-size, inherit);
		line-height: var(--blockquote-leading, inherit);
		font-family: var(--blockquote-font, inherit);
		color: var(--blockquote-color, inherit);
		text-align: var(--blockquote-align, left);
	}
}
