@import "../style/layers.css";
@import "../style/Font.module.css";
@import "../style/Size.module.css";
@import "../style/Space.module.css";
@import "../style/Tint.module.css";
@import "../style/Weight.module.css";

@layer components {
	.definitions,
	.prose dl {
		/* Box */
		display: block;
		margin-inline: 0;
		margin-block: var(--definitions-space, var(--space-paragraph));

		/* Text */
		text-align: var(--definitions-align, left);
		font-family: var(--definitions-font, var(--font-body));
		font-weight: var(--definitions-weight, var(--weight-normal));
		font-size: var(--definitions-size, var(--size-normal));
		color: var(--definitions-color, var(--tint-00));

		/* Children */
		dt,
		dd {
			/* Box */
			display: block;
			margin: 0;
		}
		dt {
			/* Box */
			margin-block-start: var(--definitions-gap, var(--space-small));

			/* Text */
			font-family: var(--definitions-label-font, var(--font-label));
			font-weight: var(--definitions-label-weight, var(--weight-label));
			font-size: var(--definitions-label-size, var(--size-label));
			text-transform: var(--definitions-label-case, var(--case-label));
			color: var(--definitions-label-color, var(--tint-70));
		}
	}
}

@layer overrides {
	.definitions,
	.prose dl {
		&:first-child {
			margin-block-start: 0;
		}
		&:last-child {
			margin-block-end: 0;
		}

		dt:first-child {
			margin-block-start: 0;
		}
	}
}
