@import "../style/base.css";

@layer components {
	.definitions,
	.prose dl {
		/* Box */
		display: block;
		margin-inline: 0;
		margin-block: var(--definitions-spacing, var(--spacing-paragraph));

		/* Typography */
		text-align: var(--definitions-align, left);
		font-family: var(--definitions-font, var(--font-body));
		font-weight: var(--definitions-weight, var(--weight-normal));
		font-size: var(--definitions-size, var(--size-normal));
		color: var(--definitions-color, var(--color-black));

		/* Children */
		dt,
		dd {
			/* Box */
			display: block;
			margin: 0;
		}
		dt {
			/* Box */
			margin-block-start: var(--definitions-gap, var(--spacing-small));

			/* Typography */
			font-family: var(--definitions-title-font, var(--font-body));
			font-weight: var(--definitions-title-weight, var(--weight-strong));
			font-size: var(--definitions-title-size, var(--size-normal));
			color: var(--definitions-title-color, var(--color-dark));
		}
	}
}

@layer overrides {
	.definitions,
	.prose dl {
		&:first-child {
			margin-block-start: 0;
		}
		&:last-child {
			margin-block-end: 0;
		}

		dt:first-child {
			margin-block-start: 0;
		}
	}
}
