/** Flex styles reused by a few other elements including <Elements>, <Notice>, <Button>, <InputButton> */
.elements {
	/* Box */
	&& {
		display: flex; /* Raise specificity of this. */
	}

	/* Contents */
	flex-direction: row;
	gap: var(--elements-gap, var(--spacing-element));
	justify-content: stretch;
	align-items: center;

	/* Variants */
	&.wrap {
		flex-wrap: wrap;
	}
	&.left {
		justify-content: start;
	}
	&.center {
		justify-content: center;
	}
	&.right {
		justify-content: end;
	}
	&.stretch {
		justify-content: stretch;
	}
	&.reverse {
		flex-direction: row-reverse;
	}
	&.column {
		flex-direction: column;
		justify-content: center;
		align-items: stretch;

		&.left {
			align-items: start;
		}
		&.center {
			align-items: center;
		}
		&.right {
			align-items: end;
		}
		&.stretch {
			align-items: stretch;
		}
		&.reverse {
			flex-direction: column-reverse;
		}
	}
	&.flush {
		gap: 0;
	}

	/* Children */
	:where(& > *) {
		flex: var(--grow-normal) 1 auto;
	}
	&& > * {
		margin: 0; /* No margins on children (high specificity). */
	}
	&& > [data-slot="icon"] {
		inline-size: var(--elements-size-icon, var(--size-icon));
		block-size: var(--elements-size-icon, var(--size-icon));
		flex: none;
	}
}
