@import "../style/layers.css";
@import "../style/Tint.module.css";
@import "../style/Color.module.css";
@import "../style/Typography.module.css";

@layer components {
	.heading,
	.prose h2 {
		/* Theme */
		--tint-50: var(--heading-tint, inherit);

		/* Box */
		margin-block-start: var(--heading-space-before, var(--space-section));
		margin-block-end: var(--heading-space, var(--space-paragraph));

		/* Text */
		font-family: var(--heading-font, var(--font-title));
		font-weight: var(--heading-weight, var(--weight-strong));
		font-size: var(--heading-size, var(--size-xxlarge));
		line-height: var(--heading-leading, var(--leading));
		color: var(--heading-color, inherit);
	}
}
