@import "../style/base.css";

@layer components {
	.heading,
	.prose h2 {
		/* Rebind global colour tokens */
		--color-text: var(--heading-color, inherit);

		/* Box */
		display: block;
		inline-size: 100%;
		margin-inline: 0;
		margin-block-start: var(--heading-spacing-before, var(--spacing-section));
		margin-block-end: var(--heading-spacing, var(--spacing-paragraph));

		/* Style */
		font-family: var(--heading-font, var(--font-body));
		font-weight: var(--heading-weight, var(--weight-strong));
		line-height: var(--heading-leading, var(--leading));
		color: var(--color-text);
		font-size: var(--heading-size, var(--size-xxlarge));
		text-align: var(--heading-align, left);
	}
}

@layer overrides {
	.heading,
	.prose h2 {
		&:first-child {
			margin-block-start: 0;
		}
		&:last-child {
			margin-block-end: 0;
		}
	}
}
