@import "../style/layers.css";
@import "../style/Space.module.css";

@layer components {
	.image,
	.prose img {
		inline-size: var(--image-width, 100%);
		margin-block: var(--image-space, var(--space-paragraph));

		object-position: center center;
		object-fit: cover; /* Don't distort when resized. */
	}
}
