@import url("../style/layers.css");
@import url("../style/Space.module.css");

@layer components {
	.image,
	.prose img {
		/* Box */
		border: var(--image-border, none);
		border-radius: var(--image-radius, var(--radius-normal));
		margin-block: var(--image-space, var(--space-paragraph));

		/* Contents */
		object-position: center center;
		object-fit: cover; /* Don't distort when resized. */
	}
}
