@import "../style/layers.css";
@import "../style/Space.module.css";
@import "../style/Color.module.css";
@import "../style/Typography.module.css";

@layer components {
	.label {
		/* Theme */
		--tint-50: var(--label-tint, inherit);

		/* Box */
		display: block;
		margin-inline: 0;
		margin-block: var(--label-space, var(--space-paragraph));

		/* Text */
		font-family: var(--label-font, var(--font-label));
		font-weight: var(--label-weight, var(--weight-label));
		font-size: var(--label-size, var(--size-label));
		line-height: var(--label-leading, var(--leading));
		text-transform: var(--definitions-label-case, var(--case-label));
		color: var(--label-color, var(--tint-70));
	}
}

@layer overrides {
	.label {
		&:first-child {
			margin-block-start: 0;
		}
		&:last-child {
			margin-block-end: 0;
		}
	}
}
