@import "../style/layers.css";
@import "../style/Space.module.css";
@import "../style/Tint.module.css";
@import "../style/Typography.module.css";

@layer components {
	.label {
		/* Box */
		margin-block: var(--label-space, var(--space-paragraph));

		/* Text */
		font-family: var(--label-font, var(--font-label));
		font-weight: var(--label-weight, var(--weight-label));
		font-size: var(--label-size, var(--size-label));
		line-height: var(--label-leading, var(--leading));
		text-transform: var(--definitions-label-case, var(--case-label));
		color: var(--label-color, var(--tint-70));
	}
}
