@import url("../style/layers.css");
@import url("../style/Space.module.css");
@import url("../style/Color.module.css");
@import url("../style/Gap.module.css");
@import url("../style/Typography.module.css");

@layer components {
	.unordered,
	.ordered,
	.prose ul,
	.prose ol {
		/* Box */
		margin-block: var(--list-space, var(--space-paragraph));

		/* Text */
		text-align: left;

		/* Contents */
		display: flex;
		flex-direction: column;
		gap: var(--list-gap, var(--space-xsmall));

		li::marker {
			color: var(--list-marker-color, var(--tint-80));
		}
	}

	.unordered,
	.prose ul {
		padding-inline-start: var(--list-indent, 1.125em);
	}

	.ordered,
	.prose ol {
		padding-inline-start: var(--list-indent, 1.8em);
	}
}

@layer overrides {
	.unordered,
	.ordered,
	.prose ul,
	.prose ol {
		&:first-child {
			margin-block-start: 0;
		}

		&:last-child {
			margin-block-end: 0;
		}
	}
}
