@import "../style/layers.css";
@import "../style/Space.module.css";

@layer components {
	.paragraph,
	.prose p {
		/* Theme */
		--tint-50: var(--paragraph-tint, inherit);

		/* Box */
		display: block;
		inline-size: 100%;
		margin-inline: 0;
		margin-block: var(--paragraph-space, var(--space-paragraph));
	}
}

@layer overrides {
	.paragraph,
	.prose p {
		&:first-child {
			margin-block-start: 0;
		}
		&:last-child {
			margin-block-end: 0;
		}
	}
}
