@import "../style/base.css";

@layer components {
	.preformatted,
	.prose pre {
		/* Theme */
		--tint-50: var(--preformatted-tint, inherit);

		/* Box */
		position: relative;
		margin-inline: 0;
		margin-block: var(--preformatted-space, var(--space-paragraph));
		border: var(--preformatted-border, var(--preformatted-stroke, var(--stroke-normal)) solid var(--tint-80));
		padding: var(--preformatted-padding, var(--space-normal));
		border-radius: var(--preformatted-radius, var(--radius-normal));
		width: 100%;
		box-sizing: border-box;

		/* Style */
		background: var(--preformatted-background, var(--tint-90));
		color: var(--preformatted-color, var(--tint-00));
		box-shadow: var(--preformatted-shadow, none);
		transition: var(--preformatted-transition, all var(--duration-fast));
		outline: var(--preformatted-focus-border, var(--stroke-focus) solid var(--color-focus));
		outline-offset: calc(0px - var(--preformatted-stroke, var(--stroke-normal)));

		/* Text */
		font-family: var(--preformatted-font, var(--font-preformatted));
		font-weight: var(--preformatted-weight, var(--weight-preformatted));
		font-size: var(--preformatted-size, var(--size-normal));
		line-height: var(--preformatted-leading, var(--leading));
		text-transform: none;
		tab-size: 2;
		white-space: preserve nowrap;
		overflow-wrap: normal;

		/* Scrolling */
		overflow-y: hidden;
		overflow-x: auto;
		overscroll-behavior-y: auto;
		overscroll-behavior-x: none;
		scroll-behavior: smooth;

		/* Variants */
		&.wrap {
			text-wrap: wrap;
			overflow-wrap: anywhere;
			width: 100%;
		}
	}
}

@layer overrides {
	.preformatted,
	.prose pre {
		&:first-child {
			margin-block-start: 0;
		}
		&:last-child {
			margin-block-end: 0;
		}

		&:not(:focus-visible) {
			outline-color: transparent;
		}
	}
}
