@import "../style/layers.css";
@import "../style/Color.module.css";
@import "../style/Typography.module.css";
@import "../style/Space.module.css";
@import "../style/Width.module.css";

@layer components {
	.prose :where(section, article, aside, nav, header, footer, figure),
	.section {
		/* Box */
		position: relative;
		display: block;
		box-sizing: border-box;
		max-inline-size: calc(100% - (var(--section-indent, var(--space-normal)) * 2)); /* Stop text touching the sides. */
		inline-size: var(--section-width, var(--width-normal)); /* Default to the normal content width; override with the `width` variant. */
		margin-inline: auto;
		margin-block: var(--section-space, var(--space-section));

		.prose :where(section, article, aside, nav, header, footer, figure),
		.section {
			max-inline-size: 100%; /* Nested sections can touch the side again */
		}
	}
}
