@import "../style/layers.css";
@import "../style/Color.module.css";
@import "../style/Indent.module.css";
@import "../style/Typography.module.css";
@import "../style/Space.module.css";
@import "../style/Width.module.css";

@layer components {
	.prose :where(section, article, aside, nav, header, footer, figure),
	.section {
		/* Box */
		position: relative;
		display: block;
		max-inline-size: 100%;
		inline-size: var(--section-width, var(--width-normal));
		margin-inline: auto;
		margin-block: var(--section-space, var(--space-section));
	}
}
