@import url("../style/layers.css");
@import url("../style/Tint.module.css");
@import url("../style/Color.module.css");
@import url("../style/Typography.module.css");

@layer components {
	.title,
	.prose h1 {
		/* Box */
		margin-block: var(--title-space-before, var(--space-section)) var(--title-space, var(--space-paragraph));

		/* Text */
		font-family: var(--title-font, var(--font-title));
		font-weight: var(--title-weight, var(--weight-strong));
		font-size: var(--title-size, var(--size-xxxlarge));
		line-height: var(--title-leading, var(--leading));
		color: var(--title-color, inherit);
		text-wrap: balance;
	}
}
