@import "../style/layers.css";
@import "../style/Color.module.css";
@import "../style/Duration.module.css";
@import "../style/Radius.module.css";
@import "../style/Shadow.module.css";
@import "../style/Space.module.css";
@import "../style/Stroke.module.css";

@layer components {
	.prose video,
	.video {
		/* Box */
		aspect-ratio: 16 / 9;
		margin-block: var(--video-space, var(--space-paragraph));
		border: var(--video-border, none);
		border-radius: var(--video-radius, var(--radius-normal));
		padding: var(--video-padding, var(--space-normal));

		/* Contents */
		display: flex;
		flex-direction: column;
		gap: var(--video-gap, var(--space-normal));
		justify-content: center;
		align-items: center;
		position: relative;

		/* Style */
		background: white;
		color: black;

		/* Contents */
		overflow: hidden;

		&:fullscreen {
			border-radius: 0;
		}
	}
}
