# Runs tests on any push or pull request.
# If the tests pass and this is a push to the main branch also run Semantic Release.
name: CI
on: [push, pull_request, workflow_dispatch]
jobs:
  release:
    name: Semantic Release
    runs-on: ubuntu-latest
    needs: test
    if: (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v1
      - name: install
        run: bun install
      - name: test
        run: bun run test
      - name: build
        run: bun run build
      - name: git config
        shell: bash
        env:
          BOT_USER_NAME: ${{ vars.BOT_USER_NAME }}
          BOT_USER_ID: ${{ vars.BOT_USER_ID }}
          BOT_PUBLIC_KEY: ${{ vars.BOT_PUBLIC_KEY }}
          BOT_PRIVATE_KEY: ${{ secrets.BOT_PRIVATE_KEY }}
        run: |
          mkdir ~/.ssh
          install -m 600 <(echo "$BOT_PUBLIC_KEY") ~/.ssh/git.pub
          install -m 600 <(echo "$BOT_PRIVATE_KEY") ~/.ssh/git
          eval `ssh-agent -s`
          ssh-add ~/.ssh/git
          git config user.name "${BOT_USER_NAME}"
          git config user.email "${BOT_USER_ID}+${BOT_USER_NAME}@users.noreply.github.com"
          git config --global gpg.format ssh
          git config --global user.signingkey ~/.ssh/git.pub
          git config --global commit.gpgsign true
      - uses: cycjimmy/semantic-release-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
