# Run `npm run fix` on any push or pull request.
# If changes were made and the tests pass, commit the changes back.
name: Fix
on: [push, pull_request]
jobs:
  fix:
    name: Fix
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
      - run: npm ci
      - run: npm run fix
      - run: npm run test
      - run: |
          git config user.name "sawbird"
          git config user.email "<78321918+github-actions[bot]@users.noreply.github.com>"
      - run: "git commit -am 'style: npm run fix' && git push origin main || echo 'Nothing to commit'"
