# Run `npm upgrade` and then `npm run fix` every week.
# If changes were made and the tests pass, commit the changes back.
name: Upgrade
on:
  schedule:
    - cron: "* 2 * * SUN"
jobs:
  upgrade:
    name: Upgrade
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
      - run: npm ci
      - run: npm outdated
      - run: npm upgrade
      - run: npm run fix # Run fix after upgrade so updates to Prettier and ESLint upgrade the codebase too.
      - run: npm run test
      - run: |
          git config user.name "sawbird"
          git config user.email "<78321918+github-actions[bot]@users.noreply.github.com>"
      - run: "git commit -am 'chore: npm upgrade' && git push origin main || echo 'Nothing to commit'"
